/.DS_Store
/.idea/
/venv/
/server/.git/
/server/tests/
/server/var/
/Easy-Wav2Lip/.git/
/Easy-Wav2Lip/gfpgan/
/Easy-Wav2Lip/checkpoints/GFPGANv1.4.pth
/Easy-Wav2Lip/checkpoints/mouth_detector.pkl
/Easy-Wav2Lip/checkpoints/predictor.pkl
/Easy-Wav2Lip/checkpoints/shape_predictor_68_face_landmarks_GTX.dat
/Easy-Wav2Lip/checkpoints/Wav2Lip.pk1
/Easy-Wav2Lip/checkpoints/Wav2Lip.pth
/Easy-Wav2Lip/checkpoints/Wav2Lip_GAN.pk1
/Easy-Wav2Lip/checkpoints/Wav2Lip_GAN.pth
/Easy-Wav2Lip/output/
/Easy-Wav2Lip/last_detected_face.pkl
/Easy-Wav2Lip/asset
/Easy-Wav2Lip/temp/
/v-mate-web/.git/
/v-mate-web/.superpowers/
/v-mate-web/dist/
/v-mate-web/node_modules/
/v-mate-web/docs/
/Easy-Wav2Lip/.gita/
/server/.gita/
/v-mate-web/.gita/
