kokoro-tts/models/
__pycache__/
voices_zf/
/asset/
/gfpgan/
/checkpoints/GFPGANv1.4.pth
/checkpoints/mouth_detector.pkl
/checkpoints/predictor.pkl
/checkpoints/shape_predictor_68_face_landmarks_GTX.dat
/checkpoints/Wav2Lip.pk1
/checkpoints/Wav2Lip.pthcd
/checkpoints/Wav2Lip_GAN.pk1
/checkpoints/Wav2Lip_GAN.pth
/output/
/temp/
/last_detected_face.pkl
